@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  background-color: #111;
}

.title {
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  background: rgba(255, 255, 255, 0.3);
  background-size: fill;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
}

h2 {
  background: rgba(255, 255, 255, 0.3);
  background-size: fill;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(#e66465, #9198e5);
}

main {
  position: absolute;
}

a {
  color: transparent;
}